{% extends "student_module/base.html" %}
{% block title %}Профиль{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div style="width: 360px; margin:auto; display: flex; flex-direction: column; gap:40px;align-items: center; margin-top: 60px;">
    <div style="width: 160px;
    height: 198px;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <svg width="162" height="162" viewBox="0 0 162 162" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="160" height="160" rx="80" fill="white" />
                <rect x="0.5" y="0.5" width="161" height="161" rx="80.5" stroke="#66727F" stroke-opacity="0.4" />
                <path d="M120 123V113.111C120 107.866 117.946 102.835 114.289 99.1261C110.632 95.4171 105.672 93.3333 100.5 93.3333H61.5C56.3283 93.3333 51.3684 95.4171 47.7114 99.1261C44.0545 102.835 42 107.866 42 113.111V123M100.5 53.7778C100.5 64.7007 91.7696 73.5556 81 73.5556C70.2304 73.5556 61.5 64.7007 61.5 53.7778C61.5 42.8548 70.2304 34 81 34C91.7696 34 100.5 42.8548 100.5 53.7778Z" stroke="#66727F" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p class="blue_type">Изменить аватар</p>
        </div>
    </div>

    <form action="{{url_for('profile')}}" method="post">
        <div style="width: 360px;
        height: 296px;display: flex; flex-direction: column; align-items: center; gap:16px">
        <input type="text" value="{{user_name}}" class="input_text" style="width: 100%;" name = 'full_name'>
        <input type="text" value="{{login}}" class="input_text" style="width: 100%;" disabled> 
        <input type="text" value="{{password}}" class="input_text" style="width: 100%;" disabled>
        </div>
        <input type = 'submit' value="Сохранить изменения" class="transition_input" style="width: 100%;" name="save">
    </form>

    <form action="{{url_for('authorization')}}" method="post">
        <input  value = 'Выйти' type = 'submit' class="delete-button"  name="exit"> 
    </form>
</div>
{% endblock %}
